@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-color: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #eee;
  }
}


body {
  background-color: var(--body-bg-color);
}

@layer components {
  * {
    @apply font-primary text-sm;
  }

  th {
    @apply py-2 px-4 font-semibold tracking-wider text-zinc-600;
  }

  .custom-btn {
    @apply px-8 py-4 bg-slate-900 text-white rounded text-[1em];
  }

  /* .custom-txt-box {
    @apply px-4 py-4 rounded border-neutral-400 bg-neutral-200 border-[1px] outline-none;
  } */

  .txt-box, .custom-txt-box {
    @apply border-zinc-300 border-[1px] rounded p-2 w-full outline-none focus:border-zinc-400 focus:outline-2 focus:outline-offset-0 focus:outline focus:outline-zinc-200 bg-white;
  }

  .custom-txt-box-active {
    @apply border-zinc-400 outline-2 outline-offset-0 outline outline-zinc-200;
  }

  .cancel-button {
    @apply px-4 py-2 border-[1px] border-zinc-300 rounded bg-zinc-200 hover:border-zinc-400 transition text-zinc-600;
  }

  .ok-button {
    @apply px-4 py-2 bg-primary-accent border-emerald-900 text-white rounded hover:bg-emerald-800  border-[1px] transition duration-500;
  }

  .normal-button {
    @apply px-4 py-2 border-[1px] bg-zinc-200 border-slate-300 rounded hover:bg-zinc-200 hover:border-slate-400 transition;
  }

  .sign-in-with-google {
    @apply bg-zinc-200 px-4 py-2 border-[1px] border-zinc-400 rounded;
  }
}